@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed&display=swap");

* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.link {
  text-decoration: none;
  margin-left: -9%;
}

.cabecalho {
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: white;
  justify-content: space-around;
  z-index: 10;
}

.cabecalho_link {
  text-decoration: none;
  cursor: pointer;
}

.cabecalho span {
  color: #6390d9;
}

.input {
  border-color: transparent;
  height: 25px;
  background-color: transparent;
}

.search {
  padding-left: 1%;
  height: 42px;
  width: 22%;
  border: 2px solid #a7c0ea;
  border-radius: 50px;
  display: flex;
  align-items: center;
}

.login button {
  color: #a7c0ea;
  font-size: 97%;
  font-weight: bold;
  height: 49px;
  width: 175%;
  background-color: transparent;
  border: 2px solid #8ca5ce;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: -52%;
  cursor: pointer;
}

.link_login {
  text-decoration: none;
}

.login button:hover {
  color: #ffffff;
  font-size: 97%;
  font-weight: bold;
  height: 49px;
  width: 175%;
  background-color: #8ca5ce;
  border: 2px solid #8ca5ce;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: -52%;
}