@media (max-width: 980px) {
  .cabecalho {
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: white;
    justify-content: space-around;
  }

  .cabecalho span {
    color: #6390d9;
  }

  .input {
    border-color: transparent;
    height: 25px;
    background-color: transparent;
  }

  .search {
    padding-left: 1%;
    height: 42px;
    width: 22%;
    border: 2px solid #a7c0ea;
    border-radius: 50px;
    display: flex;
    align-items: center;
  }

  .login button {
    color: #8ca5ce;
    font-size: 97%;
    font-weight: bold;
    height: 49px;
    width: 175%;
    background-color: transparent;
    border: 2px solid #6893da;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: -52%;
  }

  .login button:hover {
    color: #ffffff;
    font-size: 97%;
    font-weight: bold;
    height: 49px;
    width: 175%;
    background-color: #8ca5ce;
    border: 2px solid #8ca5ce;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: -52%;
  }

  .link_login {
    text-decoration: none;
  }

  .banner {
    margin-top: -9%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .banner h1 {
    margin-left: 3%;
    color: white;
    margin-top: -13%;
  }

  .banner p {
    margin-left: 3%;
    color: white;
    margin-top: 1%;
  }

  .banner button {
    margin-top: 1%;
    margin-left: 3%;
    width: 16%;
    height: 33px;
    /* font-weight: bold; */
    color: white;
    background-color: #628FD9;
    border: 2px solid #628FD9;
  }

  .conteudo {
    margin-top: 5%;
    /* margin-left: 3%; */
  }

  .imagens {
    display: grid;
    border-radius: 10px;
    margin: 0.5%;
  }
    
}
